---
layout: default
title: Home
---

{% include header.html %}

<div class="project-content">
    <div class="project-content-wrapper l-page-wrapper">
        <p>This is just another grid system. I do not pretend that it is better than the others available, it simply fills my needs.</p>
        <p>Grid tested in Chrome, Firefox, Opera, Safari and Internet Explorer 9+</p>

        <hr>

        <h2>HTML Markup</h2>

        <div class="highlight">
            <pre><code class="language-markup" data-lang="markup">&lt;div class=&quot;grid&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;row-wrapper&quot;&gt;
            &lt;div class=&quot;col half&quot;&gt;half&lt;/div&gt;
            &lt;div class=&quot;col half&quot;&gt;half&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;row-wrapper&quot;&gt;
            &lt;div class=&quot;col col-8&quot;&gt;col-8&lt;/div&gt;
            &lt;div class=&quot;col col-8&quot;&gt;col-8&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>

        <h2>Configuration</h2>

        <div class="highlight">
            <pre><code class="language-scss" data-lang="scss">// Configuration
// ============================

$grid-selector: "grid";
$grid-row-selector: "row";
$grid-row-wrapper-selector: "row-wrapper";
$grid-col-selector: "col";
$grid-col-prefix: "col-";
$grid-width: 1140px;
$grid-margin: 20px;
$grid-gutter: 10px;
$grid-columns: 16;</code></pre>
        </div>
    </div>

    <div class="grid">
        <div class="row">
            <div class="row-wrapper">
                <div class="col half">half</div>
                <div class="col half">half</div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper">
                <div class="col tier">tier</div>
                <div class="col tier">tier</div>
                <div class="col tier">tier</div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper">
                <div class="col quarter">quarter</div>
                <div class="col quarter">quarter</div>
                <div class="col quarter">quarter</div>
                <div class="col quarter">quarter</div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper">
                <div class="col col-3">col-3</div>
                <div class="col col-13">col-13</div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper">
                <div class="col col-4">col-4</div>
                <div class="col col-12">col-12</div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper">
                <div class="col col-5">col-5</div>
                <div class="col col-11">col-11</div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper">
                <div class="col col-6">col-6</div>
                <div class="col col-10">col-10</div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper">
                <div class="col col-7">col-7</div>
                <div class="col col-9">col-9</div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper">
                <div class="col col-8">col-8</div>
                <div class="col col-8">col-8</div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper">
                <div class="col col-9">col-9</div>
                <div class="col col-7">col-7</div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper">
                <div class="col col-10">col-10</div>
                <div class="col col-6">col-6</div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper">
                <div class="col col-11">col-11</div>
                <div class="col col-5">col-5</div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper">
                <div class="col col-12">col-12</div>
                <div class="col col-4">col-4</div>
            </div>
        </div>
        <div class="row">
            <div class="row-wrapper">
                <div class="col col-13">col-13</div>
                <div class="col col-3">col-3</div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
